$primary   : #6d64fb;

$secondary : #33b7f3;
$accent    : #fd6685;

$dark      : #1D1D1D;
$dark-page : #2f2e41;


$positive  : #00BFA6;
$negative  : #F50057;
$info      : #00B0FF;
$warning   : #F9A826;